.lobby {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: rgb(233, 232, 232);
  gap: 15px;
  padding: 10px;
  text-align: center;
  position: absolute;
  // margin: 10px;

  .code-preview {
    border: solid 1px black;
    background-color: rgb(244, 248, 220);
    border-radius: 15px;

    &:hover {
      // background-color: #3e8e41;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    }

    &-title {
      font-weight: 800;
      font-size: 2rem;
      margin: 15px;
      color: #1e2d40;
    }

    &-description {
      margin: 10px;
      font-size: 20px;
      font-weight: 600;
      color: $clr8;
    }


    &-btn {
      font-size: 20px;
      font-weight: 600;
      position: relative;
      border-radius: 10px;
      width: 50%;
      // color: $clr8;
      background-color: $clr6;
      text-align: center;
      margin-bottom: 20px;

      &:hover {
        background-color: $clr9;
        box-shadow: 1 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      &:active {
        background-color: #3e8e41;
        box-shadow: 0 1px #666;
        transform: translateY(2px);
      }

    }
  }
}